
<div style="color:white;background-color: <%= @color%>">
  <h1>Welcome#color</h1>
  <p>Find me in app/views/welcome/color.html.erb</p>
</div>

<% if @greeting.present? %>
<h1>Thanks for saying <%=@greeting%></h1>
<%end%>